/* @font-face {
  font-family: "나눔";
  src: url(../font/NanumSquareB.woff);
} */

.favorite {
  position: relative;
  padding: 20px;
  background-color: #eee;
}

.favorite_in {
  width: 100%;
}

.favorite_title {
  color: black;
  font-size: 30px;
  font-weight: 600;
  /* background-color: yellowgreen; */
  text-align: center;
  padding: 30px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* .flex-img {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 0px 20px;
} */

/* .favorite_img {
  position: relative;
  width: 25%;
  height: 450px;
  object-fit: cover;
  padding: 45px;
} */

.product-container {
  display: flex;
  width: 70%;
  /* max-width: 1200px; */
  margin: auto;
}

.product-item {
  width: 50%;
  padding: 30px;
  border-radius: 20px;
  /* background-color: skyblue; */
}

.product-item:hover {
  /* opacity: 0.8;
  transition: all 1s; */
}

.product-all {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.product-item img {
  justify-content: center;
  align-items: center;
  width: 90%;
  /* min-width: 500px; */
  height: 400px;
  z-index: 3;
  box-shadow: 8px 8px 8px grey;
}

.product-all:hover > img {
  z-index: 0;
}

.product-item img:hover {
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 400px;
  filter: brightness(50%);
  transition: 0.5s;
}

.product-all p {
  position: absolute;
  top: 200px;
  color: white;
  font-size: 18px;
}

.product-div {
  position: relative;
  padding-top: 10px;
  text-align: center;
  margin-right: 20px;
}

.more-btn {
  position: relative;
  display: flex;
}

.btn {
  /* position: absolute; */
  width: 200px;
  height: 50px;
  border-radius: 5px;
  margin: auto;
}

.bigContainer {
  display: flex;
  overflow: hidden;
}

.middleContainer {
  /* display: flex; */
  width: 100vw;
}

.container {
  display: flex;
  width: 300vw;
  position: relative;
  justify-content: center;
  align-items: center;
}

.main-img {
  /* padding: 20px; */
  width: 100vw;
  height: 500px;
  object-fit: contain;
  transform: translate(0vw);
  transition: all 1s;
}

.main-img:hover {
  /* padding: 20px; */
  justify-content: center;
  align-items: center;
  filter: brightness(50%);
  transition: 0.5s;
}

.slideNextBtn {
  position: absolute;
  top: 350px;
  right: 20px;
  height: 50px;
  width: 200px;
  background-color: red;
}

.slideBeforeBtn {
  position: absolute;
  top: 350px;
  left: 20px;
  height: 50px;
  width: 200px;
  background-color: red;
}

.slideInfo {
  width: 70%;
  margin: auto;
  height: 150px;
  background-color: #eee;
  transform: translate(0vw);
  transition: all 1s;
  text-align: center;
  font-size: 28px;
  padding-top: 20px;
}

.iconBefore {
  position: absolute;
  font-size: 50px;
  top: 450px;
  left: 150px;
}

.iconNext {
  position: absolute;
  font-size: 50px;
  top: 450px;
  right: 150px;
}
.next--click {
  transform: translate(-100vw);
}
.before--click {
  transform: translate(+100vw);
}

@media screen and (max-width: 1400px) {
  .product-container {
    flex-wrap: wrap;
  }
  .product-item {
    width: 50%;
  }

  .product-all p {
    font-size: 25px;
  }
  .product-item img {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .product-container {
    flex-wrap: wrap;
  }
  .product-item {
    width: 100%;
  }
}
