.favorite {
  display: flex;
  padding: 20px;
  background-color: white;
}

.favorite_in {
  width: 100%;
  /* background-color: yellow; */
}

.favorite_title {
  color: white;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.favorite_img {
  height: 450px;
  object-fit: cover;
}

.favorite_star {
  color: rgb(255, 196, 0);
  font-size: 26px;
  position: absolute;
  padding: 8px;
}

.favorite_icon:hover {
  color: rgb(255, 153, 0);
  cursor: pointer;
}

.flex-img {
  display: flex;
  justify-content: space-around;
}
