.background {
  background-color: #bdd4fc;
  width: 100%;
  height: 20%;
  /* display: flex; */
}

.container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.logo {
  width: 200px;
  padding: 30px;
  font-size: 15px;
}

.logoImg {
  width: 300px;
  padding: 10px;
  font-size: 20px;
}

.logo p,
h2,
span {
  padding: 10px;
}

.logo1 {
  /* width: 50%; */
  /* display: flex; */
  padding: 30px;
  font-size: 20px;
}

.gitEmail {
  display: flex;
}

@media screen and (max-width: 1400px) {
  .gitEmail {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 15px;
  }
  .logo1 {
    font-size: 15px;
  }

  .gitIcon {
    font-size: 12px;
  }
}
