.close {
  display: none;
}
.open {
  display: block;
}

.invite_group_container {
  display: flex;
  flex-direction: column;
}

.invite_group_title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
}

.invite_group_userlist_container {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.invite_group_userlist_title {
  margin: 15px 0 0 0px;
  font-size: 16px;
}

.invite_group_userlist {
  display: flex;
  flex-direction: column;
  margin:15px 0px 15px 0px;
  height: 100%;
  width: 100%;
  background-color: rgb(205, 235, 247);
  border: lightcoral;
  border-width: 5px;
  border-style:double;
  border-radius: 5px;
  
}

.invite_group_user_leader {
  color: rgb(241, 30, 30);
  font-size: 15px;
  margin:5px 5px 5px 5px;
  border-bottom:dashed rgb(178, 175, 182);
  border-width: 2px;
}

.invite_group_user {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin:5px 5px 5px 5px;
  border-bottom:dashed rgb(178, 175, 182);
  border-width: 2px;
}

.invite_group_user_button {
  width: 80px;
  height: 30px;
  margin: 10px;
}

.invite_group_input_container {
  display: flex;
  flex-direction: column;
  margin:15px;
  border: lightcoral;
  border-width: 2px;
  border-style:solid;
  border-radius: 5px;
}

.invite_group_useremail {
  height: 150px;
  margin: 5px;
  padding: 5px;
  font-size: 17px;
  /* border:solid rgb(65, 101, 122); */
}

.invite_group_useremail_input {
  width: 100%;
  height: 40px;
  margin: 10px 0 5px 0;
  font-size: 15px;
  text-align: center;
}

.invite_group_useremail_button {
  width: 80px;
  height: 30px;
  margin: 15px 0 5px 70px;
  font-size: 15px;
}

.invite_group_useremail_search {
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  border:solid rgb(211, 154, 139);
  border-radius: 15px;
}

.invite_group_useremail_search_name {
  margin: 10px 0px 10px 0px;
  font-size: 20px;
}

.invite_group_useremail_search_image_container {
  margin: 10px 0px 10px 0px;
}

.invite_group_useremail_search_image {
  margin: 10px 0px 10px 0px;
  font-size: 20px;
  text-align: center;
}

.invite_group_useremail_search_image_image {
  width: 150px;
  height: 150px;
  margin-left: 35px;
  border:dashed rgb(131, 131, 172);
  border-width: 3px;
  border-radius: 15px;
}

.invite_group_useremail_search_button {
  width: 80px;
  height: 30px;
  margin: 5px 0 5px 70px;
  font-size: 15px;
}
